html, body {
  height: 100%;
  width: 100%;
}
/* Main Page */
.h2 {
  color: white;
  text-align: center;
  background-color: whitesmoke;
  border: 5px solid #e0e1e1;
  border-radius: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.p {
  color: whitesmoke;
}
.grid-1 {
  margin: 10px;
  padding: 10px;
}
.background-b {
  background: radial-gradient(circle, rgba(12,111,253,1) 45%, rgba(225,225,225,1) 100%)!important;
  color: orange!important;
}
.btn-sf {
  font-size: 14pt!important;
}
.btn-contain {
  max-height: 50px;
}
#searchResults div>p {
	color: white;
}
/* Showcase Pages */
.iframe-contain {
  height: 75vh!important;
  background-size: 100%!important;
  background: radial-gradient(circle at 50% 50%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 10%, rgb(255, 163, 77) 90%, rgb(255, 163, 77) 70%, rgb(0, 0, 0), rgb(0, 0, 0) 0%);
} /* Gradient ^above^ by gradients.shecodes.io, modified by me */
.iframe {
  width: 80%!important;
  height: 75vh!important;
  overflow-x: hidden;
}
.background-s {
  background: linear-gradient(to top, #353535 0%, black 100%)  #353535;
}
.arrowContain {
	width: 100%;
	position: absolute;
	font-size: 100pt;
	color: white;
	padding: 50px;
}
.arrowDisabled {
	color: #4f4f4f;
}
.arrowLeft,
.arrowRight,
.arrowDisabled {
	position: absolute;
	top: -17px;
	width: 133.33px!important;
}
.arrowRight {
	right: 0;
}
.arrowLeft {
	left: 0;
}
.arrowDown1,
.arrowDown2, 
.arrowDown3 {
	top: 46vh;
	padding-left: 0px;
	padding-right: 0px;
}
