body {
  background-color: #ffffff;
}
img {
  width: 50px;
}
#face {
  width: 400px;
  position: absolute;
  left: 5px;
  top: 10px;
}
#eyes2 {
  position: absolute;
  left: 160px;
  top: 130px;
width: 75px;
}
#hair3 {
position: absolute;
  left: 49px;
  top: 5px;
width: 300px;
}
#nose3 {
position: absolute;
  left: 181px;
  top: 168px;
width: 30px;
}
#moustache {
position: absolute;
  left: 160px;
  top: 200px;
width: 75px;
}
#bird {
  position: absolute;
  left: 140px;
  top: 10px;
width: 75px;
}
#bowtie {
  position: absolute;
  left: 160px;
  top: 250px;
width: 75px;
}
#antenna {
  position: absolute;
  left: 0px;
  top: 225px;
  width: 120px;
  transform: rotate(270deg);
}
#ears2 {
   position: absolute;
  left: 0;
  top: 130px;
width: 400px;
}
h1 {
  text-decoration: underline overline;
  color: black;
}