html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #D5D5D5;
}

h2, h3, h4, h5, h6 {
  color: #6D7993; /* Accent */
}

a {
  color: inherit;
}

a:hover {
  color: #6D7993;;
}
.img-b-1 {
  border-radius: 10px;
  border: 5px solid lightgrey;
}
.img-b-1:hover {
  
}
/* Homepage styles*/
.cover {
  height: 100%;
  background-image: url(https://www.publicdomainpictures.net/pictures/140000/t2/ark-texture-impasto-color-swirl-.jpg);
  background-size: 100%;
}
.front-logo h1 {
  color: white;
  margin: 50px;
}
.cover .col-md-2 {
  height: 200px;
  margin: 2em;
  padding: 2em;
}
.b-1 {
  display: flex;
  justify-content: center;
}
.btn-1 {
  max-height: 70px;
  min-height: 50px;
}
.header-c {
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.home-g {
  text-align: left;
  max-width: 25px;
}
.contact-g {
  text-align: right;
  max-width: 25px;
}
.header-t {
  font-size: 27pt;
}