/* Insert any CSS code below here */

body {
  background-color: white;
  font-family: Times 'Times New Roman', Times, serif;
}
h1{
  text-align: center;
  margin: -1px;
}
h6{
  text-align: center;
  
}
div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  background-color: white;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  
}
p {
  position: absolute;
  background: white;
  bottom: -1em;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
  margin-right: -2px;
  font-size: 9pt;
  text-align: justify;
}
img {
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
div1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  background-color: white;
  width: 400px;
  height: 300px;
  border: 2px solid black;
}
div2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  background-color: white;
  width: 400px;
  height: 290px;
  border: 2px solid black;
}